@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --primary: cyan;
  --header-height: 88px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', sans-serif;
  font-family: 'Urbanist', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.6rem;
  line-height: 1.5;
}

button {
  font-family: 'Urbanist', sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
@font-face {
  font-family: lushHandwritten;
  src: url('../../assets/fonts/LushHandwritten_WLat_Bd.otf');
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn {
  height: 40px;
  min-width: 40px;
  border: none;
  background: #000;
  overflow: hidden;
  text-align: center;
  cursor: pointer;
  .btn-text {
    display: block;
    height: 100%;
    position: relative;
    color: #fff;
    font-size: 15px;
    line-height: 40px;
    padding: 0 15px;
    &::after {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: -100%;
      background: linear-gradient(
        300deg,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0.264),
        #fff 50%,
        rgba(0, 0, 0, 0.264),
        rgba(0, 0, 0, 0)
      );
      visibility: hidden;
      opacity: 0;
    }
  }
  &:hover .btn-text::after {
    transition: 0.8s ease-out;
    transform: translateX(200%);
    opacity: 0.8;
    visibility: visible;
  }
}

.divider::before {
  content: '';
  position: absolute;
  top: 0;
  width: 100%;
  height: 1px;
  background-image: linear-gradient(
    to right,
    transparent,
    transparent,
    rgba(0 0 0 /0.3),
    transparent,
    transparent
  );
}
