:root {
  --header-height: 88px;
}

.wrapper {
  height: var(--header-height);
  width: 100%;
  box-shadow: 0px 1px 1px rgb(0 0 0 /12%);
  display: flex;
  justify-content: center;
}

.inner {
  display: flex;
  align-items: center;
  // background-color: cyan;
  width: 1270px;
  & li {
    list-style: none;
  }
  & a {
    color: #000;
    text-decoration: none;
  }
}
.logo {
  flex-grow: 0;
  &-img {
    max-height: calc(var(--header-height) - 8px);
  }
}

.navbar {
  justify-content: center;
  align-items: center;
  height: 100%;
  display: flex;
  flex-grow: 0;
}

.nav-item {
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  & a {
    display: block;
    line-height: var(--header-height);
  }
  & + .nav-item {
    margin-left: 24px;
  }
}
.btns-list {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.btn {
  font-size: 22px;
  margin-left: 32px;

  & a {
    color: #000;
  }
}
.search-box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 15px;
  border-radius: 25px;
  background: #000;
  cursor: pointer;
  &:hover .search-input {
    width: 350px;
    padding-right: 12px;
  }
}

.search-input {
  font-size: 15px;
  width: 0px;
  outline: none;
  border: none;
  background: #000;
  color: #fff;
  transition: 0.4s;
}

.search-btn {
  font-size: 16px;
  padding: 12px 2px;
  color: #fff !important;
}
.user {
}
.wishlist {
}
.cart {
}
