.link {
  text-decoration: none;
  color: #000;
}
.wrapper {
  min-width: 236px;
  min-height: 236px;
  margin: 0 32px;
  border: none;
  border-radius: 0 0 10px 10px;
  background-color: rgb(244, 242, 244);
  transition: background 0.3s;
  &:hover {
    background-color: rgb(237, 235, 237);
  }
}
.header {
  display: flex;
  position: relative;
  width: 100%;
  // height: 300px;
  flex-direction: column;
  .badge {
    position: absolute;
    right: 0;
    top: 0;
    margin: 4px;
  }
  .wishlist {
    font-size: 24px;
    color: #000;
    margin: 16px 8px 0;
  }
  .img {
    width: 220px;
    height: 220px;
    display: flex;
    position: relative;
    margin: 8px;
    //   position: relative;
    .main-img,
    .second-img {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
    }
    .main-img {
      z-index: 1;
    }
    &:hover .second-img {
      z-index: 1;
    }
  }
}

.body {
  margin: 0 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 24px;
  .text {
    padding: 4px;
    max-height: 36px;
  }
  .review {
    font-size: 13px;
  }
  .type {
    text-transform: uppercase;
    color: rgb(0 0 0 /60%);
  }
  .name {
    box-sizing: content-box;
  }
  .tagline {
  }
  .price-size {
  }
  .price {
    font-weight: 800;
  }
  .size {
  }
}
