.wrapper {
  padding: 64px 0;
  scroll-behavior: smooth;
}
.inner {
  min-height: 500px;
  background: #000;
  box-sizing: border-box;
}
.filter {
  background: pink;
  height: 100%;
  box-sizing: border-box;
}
.info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 36px;
}
.pagination {
  margin: auto;
}
