.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 75px 0 125px;
}
.inner {
  // overflow: hidden;
  position: relative;
  // max-width: 1365px;
}
.title {
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 5px;
  margin-bottom: 30px;
}
.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.chevron-btn {
  display: flex;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  opacity: 0.6;
  font-size: 35px;
  cursor: pointer;
  &.left {
    left: 0;
  }
  &.right {
    right: 0;
  }
}
.carousel {
  padding: 15px 0;
  white-space: nowrap;
  display: flex;
  overflow: hidden;
  scroll-behavior: smooth;
  width: calc(100% - 50px);
}
.show-more-btn {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 10px;
}
