.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 64px 0;
}
.inner {
  // overflow: hidden;
  max-width: 1200px;
}
.title {
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  margin-bottom: 32px;
}
.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.chevron-btn {
  display: flex;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  opacity: 0.6;
  font-size: 35px;
  cursor: pointer;
  &.left {
    left: 0;
  }
  &.right {
    right: 0;
  }
}
.carousel {
  width: 95%;
  white-space: nowrap;
  display: flex;
  overflow: hidden;
  scroll-behavior: smooth;
}
