// START: general CSS
.wrapper {
  margin-right: 40px;
}

.inner {
}

.filter-item {
  padding: 20px;
  position: relative;
  .title {
    position: relative;
    width: 100%;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    display: inline-block;
  }

  // scent- key ingredient - color

  // position: relative;
  .list-item {
    margin: 5px 0;
    .holder {
      position: relative;
      padding-left: 30px;
      display: block;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      input {
        display: none;
        &:checked ~ .checkmark {
          background-color: #000;
          border: #000 solid 1px;
          i {
            display: block;
          }
        }
      }
      .checkmark {
        position: absolute;
        display: inline-block;
        left: 0;
        width: 18px;
        height: 18px;
        background: #fff;
        border: 1px solid #ccc;
        line-height: 24px;
        top: 50%;
        transform: translateY(-50%);
        i {
          display: none;
          position: absolute;
          line-height: 18px;
          left: 50%;
          transform: translateX(-50%);
          font-size: 15px;
          color: #fff;
        }
        &:hover {
          border: 1px solid #999999;
        }
      }
      .item-text {
      }
    }
  }
}

// END: general CSS

// START: category CSS
.filter-cat {
  background-color: #eaeaea;
  box-shadow: 0 0 5px 1px #ccc;
  li {
    list-style: none;
  }
}
.cat-item {
  padding: 8px 0;
  position: relative;
  &.active {
    background: #000;
    height: 100px;
    width: 100px;
  }
  .sub-title {
    width: 100%;
    font-size: 16px;
    text-transform: capitalize;
    display: inline-block;
    font-weight: 500;
    position: relative;
    i {
      position: absolute;
      right: 0;
    }
  }
}

// END: category CSS

// START: collapsible
.collapsible-list {
  display: none;
  list-style: none;
  padding-left: 12px;
  .item {
    margin-top: 8px;
  }
}
.collapsible-list.open {
  display: block;
}

.collapsible-btn {
  position: relative;
  text-align: left;
  width: 100%;
  outline: none;
  border: none;
  cursor: pointer;
  background: transparent;
}

.collapsible-icon {
  display: none;
  height: 100%;
  line-height: 20px;
  padding: 0 4px;
  position: absolute;
  right: 0;
  top: 0;
  &.minus.show {
    display: block;
  }
  &.plus.show {
    display: block;
  }
}
// END: collapsible
