.wrapper {
  width: 100%;
  height: 80vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .title {
    position: absolute;
    font-weight: 500;
    font-size: 50px;
    color: #fff;
    text-transform: uppercase;
  }
}
