.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 56px;
}
.inner {
  max-width: 1200px;
}
.title {
  width: 100%;
  text-align: center;
}
.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.chevron-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  opacity: 0.6;
  font-size: 35px;
  cursor: pointer;
  &.left {
    left: 0;
  }
  &.right {
    right: 0;
  }
}
.carousel {
  width: 1200px;
  white-space: nowrap;
  display: flex;
  overflow: hidden;
  transition: all 2s;
  animation: carousel-scroll 1s ease-in-out;
}

@keyframes carousel-scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
