.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 56px;
}
.inner {
  position: relative;
  width: 1200px;

  // display: flex;
  // justify-content: center;
  // align-items: center;
  // margin: auto;
}
.chevron-btn {
  position: absolute;
  top: 50%;
  transform: translateX(-50%);
  // flex-grow: 0;
  z-index: 1;
  opacity: 0.6;
  font-size: 35px;
  cursor: pointer;
  &.left {
    left: 0;
  }
  &.right {
    right: 0;
  }
}
.carousel {
  white-space: nowrap;

  // width: 100%;
  display: flex;
  // flex-grow: 1;
  // justify-content: center;
  // align-items: flex-start;
}

// viet vay cho nhanh ay ma
