.wrapper {
  margin-top: var(--header-height);
  position: relative;
  overflow: hidden;
}
.inner {
  position: relative;
  background: #000;
  display: flex;
  flex-shrink: 0;
  transition: all 1.5s linear;
  height: calc(100vh - var(--header-height));
  // transition: all 1s ease-out;
  // animation: scroll 5s linear infinite;
  & .slide {
    // flex-basis: 25%;
    min-width: 100vw;
    // flex-shrink: 0;
    object-fit: cover;
    //
    min-width: 100vw;
    // height: 100%;
    // transition: translate 2s linear;
    // position: absolute;
    // left: 0;
    // opacity: 1;
    // z-index: 0;
    // &.active {
    //   animation: slide 1.5s ease-out;
    //   z-index: 2;
    // }
    // &.prev-slide {
    //   z-index: 1;
    //   left: 0;
    //   opacity: 1;
    // }
  }
}

.radio-btns {
  z-index: 5;
  position: absolute;
  display: flex;
  bottom: 15vh;
  left: 50vw;
  transform: translateX(-50%);
  width: 100%;
  justify-content: center;
  & .holder {
    margin: 0 10px;
    position: relative;
    display: inline-block;
    padding-right: 20px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    & input {
      display: none;
      &:checked ~ span {
        transition: all 0.3s;
        background-color: rgba(255 255 255 /90%);
      }
    }
    & span {
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      height: 20px;
      width: 20px;
      border-radius: 10px;
      border: 3px solid rgba(255 255 255 /30%);
      background-color: rgba(255 255 255 /30%);
    }
    &:hover {
      span {
        border: 3px solid rgba(255 255 255 /80%);
        transition: all 0.3s;
      }
    }
  }
}

@keyframes slide {
  0% {
    left: 100%;
  }
  100% {
    left: 0;
  }
}

// @keyframes scroll {
//   0% {
//     transform: translate(0);
//   }
//   100% {
//     transform: translateX(-200vw);
//   }
// }
