.wrapper {
  margin-top: var(--header-height);
  position: relative;
  overflow: hidden;
}
.inner {
  background: #000;
  display: flex;
  transition: 1.5s ease-out;
  img {
    min-width: 100vw;
    height: calc(100vh - var(--header-height));
    object-fit: cover;
  }
}
.radio-btns {
  position: absolute;
  display: flex;
  bottom: 15vh;
  left: 50vw;
  transform: translateX(-50%);
  width: 100%;
  justify-content: center;
  & .holder {
    margin: 0 10px;
    position: relative;
    display: inline-block;
    padding-right: 20px;
    cursor: pointer;

    & input {
      display: none;
      &:checked ~ span {
        transition: all 1s;

        background-color: rgba(0 0 0 /80%);
      }
    }
    & span {
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      height: 16px;
      width: 16px;
      border-radius: 10px;
      outline: 3px solid rgba(0 0 0 /30%);
      background-color: rgba(0 0 0 /30%);
    }
    &:hover {
      span {
        outline: 3px solid rgba(0 0 0 /60%);
        transition: all 0.3s;
      }
    }
  }
}
